@font-face {
    font-family: 'Fancy';
    src: url(../../fonts/fortalesia_script/FortalesiaScript_PERSONAL_USE_ONLY.otf);
    }
body{
    color: #145a6a;
    background-color: #fafdd5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
    width: 900px;
    }
header{
    width: 900px;
    background-color: lightblue;
    border: dashed #937393;
    padding: 10px;

    }
h1{
    font-size: 275%;
    font-family: 'Fancy';
    }
    h2{
            
    }
    h3{

    }
    a:link{
        color: #054352;
    }
    a:visited{
        color: #937393;
    }
    a:hover{
        color: #c700f2;
        background-color: #fff;
    }
    a:active{
        color: #ff00ff;
        background-color: #fff;
    }
    .thumbnailleft{
        float: left; padding-right: 10px;
    }
    .thumbnailright{
        float: right; padding-left: 20px;
    }
    .thumbnailcenter{
        float: center;
    }
    hr{
        color: #054352;
    }
        table{
            border: none;
            width: 100%;
            padding-left: 20%;
            padding-right: 20%;
        }
        th{
            border: 1px solid #145a6a;
            background-color: pink;
        }
        td{
            border: 1px solid #145a6a;
            background-color: none;
        }
        caption{
            border: none;
            font-size: xx-large;
            text-align: center;
            font-family: 'Fancy';
        }
image{
    padding-left: 25px;
    padding-right: 25px;
    }